---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima-{{ site.minima.skin | default: 'classic' }}";
body {
    overflow-x: hidden !important;
}
3d_div {
  background-color: #00FF00;
  font-family:arial;
  font-size: 4pt;
} 
/* {position: absolute; width: 10%; height: 90vh; top:5%; left: 10%; z-index:999; background: #ffff00; background-color:rgba(255,255,0,0.9)} */
