// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

3d_div {
  background-color: #00FF00;
  font-family:arial;
  font-size: 4pt;
} 
